.basket-page {
    margin-left: 20px;
    font-size: 30px;
    width: 19%;
    text-align: center;
    
}

.bas {
    padding-top: 250px;
    font-size: 20px;
    margin-left: 500px;
    font-size: 30px;
    width: 19%;
    text-align: center;
}

ul {
    font-size: 25px;
    width: 100%;
    text-align: center;

}