.header-text {
    font-size: 42px ;
    margin-top: 30px;
}
.reviews{
    font-size: 45px ;
    margin-top: 150px;
    font-weight: 900px;
}
.fashion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 250px;
}

.fashion__text {
    font-size: 100px;
    font-weight: bold;
}

.style {
    margin-left: -200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.style__text {
    font-size: 100px;
    font-weight: bold;
}

.taste {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 250px;
}

.taste__text {
    font-size: 100px;
    font-weight: bold;
}

.sales {
    height: 296px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F3DCCE;
    margin-left: 300px;
    margin-top: 280px;
}

.sales__text {
    width: 60%;
    font-size: 40px;
}

.sales__img {
    padding-right: 200px;
    height: 100%;
    width: 40%;
}

.to-catalog {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.to-catalog__text {
    font-size: 20px;
    text-decoration: underline;
    width: 13%;
    cursor: pointer;
    margin-top: 15px;
}

.to-catalog__img {
    padding-top: 5px;
}

