.login-form {
    width: 30%;
    gap: 55px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.color{
    color: rgb(245, 0, 0);
}


.input-field {
    outline: none;
    font-size: 20px;
    border: 0;
    border-bottom: 1px solid black;

}

.button-auth-reg {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: black;
    color: white;
    border: 0;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}
